body {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	margin: 0;
}

h1,
h2 {
	font-weight: 600;
}

h1 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 24px;
}

h2 {
	margin-bottom: 42px;
}

p,
th,
button,
select,
label,
td {
	font-size: 12px;
}

button {
	color: white;
	border: 0;
	border-radius: 5px;
	padding: 8px 11px;
}

button:hover {
	cursor: pointer;
}

select {
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	padding: 6px 5px;
}

select:focus,
textarea:focus {
	outline-color: dodgerblue;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: bottom;
	margin-bottom: 43px;
}

tr:nth-child(odd) {
	background-color: #f4f4f4;
}

td,
th {
	text-align: left;
	height: 26px;
	border: 1px solid #ececec;
	padding: 8px 6px;
}

th {
	vertical-align: bottom;
	font-weight: bold;
	background-color: white;
}

footer {
	align-self: start;
	margin: 10px 0;
}

.container {
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	width: 1000px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

/* Title area */
.day-show-event {
	flex-direction: column;
	align-items: center;
}

.day-of-week-title,
.day-of-week {
	width: 120px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.day-of-week {
	margin-bottom: 74px;
}

.add-event-btn {
	background-color: rgb(110, 118, 126);
	margin-bottom: 12px;
}

/* Scheduler modal */
#backdrop {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
}

#scheduler {
	width: 245px;
	z-index: 2;
	border: 2px solid black;
	padding: 0;
	margin-top: 240px;
}

.scheduler-form {
	flex-direction: column;
	width: 90%;
	margin: 14px auto;
}

#scheduler-time,
#scheduler-day {
	width: 100%;
	margin-bottom: 10px;
}

#scheduler-event {
	height: 195px;
	width: 97%;
	margin-top: 8px;
	margin-bottom: 13px;
}

.scheduler-btns {
	justify-content: space-evenly;
}

.scheduler-cancel-btn,
.scheduler-confirm-btn {
	border: 0;
}

.scheduler-cancel-btn {
	background-color: rgb(110, 118, 126);
}
.scheduler-confirm-btn {
	background-color: rgb(0, 97, 0);
}

/* Delete warning modal */
#delete-warning {
	display: none;
	z-index: 2;
	flex-direction: column;
	align-items: center;
	width: 410px;
	border: 3px solid black;
	padding: auto 10px;
	margin-top: 350px;
}

.delete-warning-btns {
	width: 100%;
	justify-content: space-around;
	margin: 25px 0;
}

.delete-warning-cancel-btn {
	background-color: rgb(110, 118, 126);
}

.delete-warning-confirm-btn {
	background-color: rgb(0, 97, 0);
}

/* Event Table */
.event-table-time-col {
	width: 100px;
}

.event-table-info-col {
	width: 365px;
}

.event-table-actions {
	justify-content: space-around;
}

.event-table-edit-btn {
	align-items: center;
	background-color: blue;
}

.event-table-delete-btn {
	align-items: center;
	background-color: rgb(221, 0, 0);
}
