body {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	margin: 0;
}

h1,
h2 {
	font-weight: 600;
}

h1 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 24px;
}

h2 {
	margin-bottom: 42px;
}

p,
th,
select,
label {
	font-size: 12px;
}

select {
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	padding: 6px 5px;
}

select:focus {
  outline-color: dodgerblue;
}

table {
	border-collapse: collapse;
	width: 100%;
  margin: bottom;
  margin-bottom: 43px;
}

tr {
	height: 43px;
}

tr:nth-child(odd) {
	background-color: #f4f4f4;
}

td,
th {
	border: 1px solid #ececec;
	text-align: left;
	padding: 8px 6px;
}

th {
	vertical-align: bottom;
	font-weight: bold;
	background-color: white;
}

footer {
	align-self: start;
  margin
}

.container {
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	width: 1000px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.day-show-event {
	flex-direction: column;
	align-items: center;
}

.day-of-week-title, .day-of-week {
	width: 120px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.day-of-week {
	margin-bottom: 74px;
}

.add-event-btn {
	font-size: 12px;
	color: white;
	background-color: rgb(110, 118, 126);
	border: 0;
	border-radius: 5px;
	padding: 8px 11px;
	margin-bottom: 12px;
}

#event-scheduler {
	display: block;
	width: 245px;
  border: 2px solid black;
	padding: 0;
	margin-top: 250px;

.event-scheduler-form {
	flex-direction: column;
	width: 90%;
	margin: 14px auto;
}

#event-scheduler-time, #event-scheduler-day {
	width: 100%;
	margin-bottom: 10px;
}

#event-scheduler-info {
	height: 180px;
	width: 97%;
	margin: 10px 0;
}

.event-scheduler-btns {
	justify-content: space-evenly;
}

.event-scheduler-cancel-btn, .event-scheduler-confirm-btn {
	font-size: 12px;
	color: white;
	border: 0;
	border-radius: 5px;
	padding: 8px 11px;
}

.event-scheduler-cancel-btn {
	background-color: rgb(110, 118, 126);
}
.event-scheduler-confirm-btn {
	background-color: rgb(0, 97, 0);
}

.event-time-col {
  width: 8;
}

.event-info-col {
  width: 365px;
}
