body {
	box-sizing: border-box;
	font-family: "Inter", serif;
}

h1,
h2,
p {
	text-align: center;
}

h1,
h2 {
	font-weight: 600;
}

table {
	width: 100%;
}

th {
	font-weight: bold;
}

tr {
}

footer {
	align-self: start;
}

.container {
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	width: 1000px;
	margin: 0 auto;
}

.flex {
	display: flex;
}
